.center{
	text-align:center;
}

.scroll-list{
	width:100%;
	 position:fixed;
	  overflow:scroll; 
	  height:300px;
	  padding-bottom:30px;
}

.header-area{
	background-color:#e4e4e4;
	margin-top:-24px!important;
}


.floating-button-top {
  position:relative;
  right: 16px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: 1500;
    background-color: #2196f3;
  color: #fff;
  overflow: hidden;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
