.center{
	text-align:center;
}

.scroll-list{
	width:100%;
	 position:fixed;
	  overflow:scroll; 
	  height:300px;
	  padding-bottom:30px;
}

.header-area{
	background-color:#e4e4e4;
	margin-top:-24px!important;
}


